<launch>
  <node name="enregistre_image_pos" pkg="rplidar_ros"  type="enregistre_image_pos">
  </node>

  <node name="nmea_serial_driver" pkg="nmea_navsat_driver">
    <param name="_port" type="string" value="/dev/ttyUSB0" />
    <param name="_baud" type="int"    value="4800" />
  </node>

</launch>
